* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {

}
body {
  display: grid;
  grid-template-rows: auto 1fr;
}
.global-nav__logo {
  color: #0a66c2;
}

nav {
  background-color: #fff;
  padding: 8px 4%;
  display: flex;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav .search-area {
  background-color: rgba(100, 148, 237, 0.082);
  color: #222;
  display: flex;
  width: 280px;
  height: 34px;
  border-radius: 4px;
  padding: 0px 10px 0px 20px;
}
nav .search-area svg {
  width: 20px;
  align-self: center;
}
nav .search-area input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding: 1px 5%;
  color: #555;
}
main aside .profile-card {
  padding: 0;
  overflow: hidden;
  position: relative;
}

main aside .profile-card .profile-banner img {
  width: 100%;
}
main aside .profile-card figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  position: relative;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
main aside .profile-card figure img {
  width: 100%;
}

.profile-card h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 420px;
  color: rgba(0, 0, 0, 0.801);
  text-align: center;
  position: relative;
  top: -30px;
}
.profile-card h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 30px;
  position: relative;
  top: -30px;
  font-weight: 420px;
  color: rgba(0, 0, 0, 0.548);
  text-align: center;
}
.grow{
    display: none;
}

main {
  background-color: #f3f2ef;
  /* padding: 20px 8%; */
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
main :is(.recent, .ads) {
  display: none;
  position: sticky;
  top: 70px;
}

main .share-box {
  /* height: 70px; */
}

main .post {
    height: 400px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 10px;
}
.recent {
    background-color: #0a66c2;
}
.main-el {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.212);
}
/* main #misc {
    display: none;
} */

main #misc .add-card{
    display: inline-block;
}
.more{
    
    text-align: center;
}

.more button{
    border:none;
}
.more button svg{
    margin-top: 1rem;
}
.share-box{
    background-color: #fff;
    padding: 0;
    height: 130px;
    margin-bottom: 15px;
}

.feed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding-top: 5px;
    /* border-bottom: 1px solid grey; */
}
.feed figure {
    width: 70px;
    height: 70px;
    border : 2px solid white;
    border-radius: 50%;
    overflow: hidden;
}
.feed figure img{
    width: 100%;
}

.feed  input{
    width: 300px;
    height: 50px;
    border-radius: 5rem;
}
.item ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding-top: 10px;

}
.item ul li a{
 display: flex;
 gap: 0.5rem;
 text-decoration: none;
}
.item .one {
    color: #1870c9a6;
}
.item .two {
    color: green;
}
.item .three {
    color: orange;
}
.item .four {
    color: pink;
}
 .space{
     display: flex;
     justify-content:right;
     align-items: center;
     margin-top: 20px;
     text-decoration: none;
 }
 .space p.top , a {
     text-decoration: none;
     color: #000;
 }
 .post-container{
     margin-top: 50px;
 }
 .grow, .tool, .items{
   display: none;
 }
 

/* FOR IPADS AND ABOVE*/
@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 203px 1fr;
    padding: 20px 8%;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  main aside .profile-card figure {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  main :is(.recent, .ads) {
    display: grid;
    position: sticky;
    top: 70px;
  }
  .name h3{
      padding: 20px;
  }
   .profile-card h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 420px;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    position: relative;
    top: 40px;
  } 
   .profile-card a {
    text-decoration: none;
  }
  .profile-card h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    top: 15px;
    font-weight: 420px;
    color: #0000008c;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
  }
  .more{
      display:none
  }
.grow, .tool{
    display: inline;
}
.crib{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    /* width: 300px; */
    text-align: left;
    padding: 10px 10px 8px 10px ;
}
.crib p{

}
.view{
    display: flex;
    justify-content: space-between;
    text-align: left;
    /* width: 300px; */
    padding: 5px 5px 20px 10px;
    margin-bottom:20px;
    border-bottom: 1px solid grey;
}
.tool > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    
}
.tool a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.tool .me{
    font-weight: bold;
}
.items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 13px 0;
}
.items p{
    font-size: 13px;
    font-weight: bold;
  }
    aside {
      display: grid;
      grid-template-rows: repeat(2, 424px);
      gap: 10px;
    }
}



/* FOR SMALL LAPTOPS & ABOVE */
@media screen and (min-width: 992px) {
  main {
    padding: 20px 8%;
    grid-template-columns: 203px 1fr 250px;
  }
  main #misc {
    display: grid;
    grid-template-rows: 354px 250px 260px;
    gap: 10px;
  }
  main aside .profile-card figure {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile-card h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 420px;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    position: relative;
    top: 50px;
  }
  .profile-card h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    top: 50px;
    font-weight: 420px;
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    border-bottom: 1px solid gray;
  }

  main :is(.recent, .ads) {
    position: sticky;
    top: 70px;
  }
}

/* FOR BIGGER SCREEEN */
@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 203px 1fr 300px;
    padding: 20px 10%;
  }
  main aside .profile-card figure {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* .profile-card a h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 420px;
    color: rgba(0, 0, 0, 0.801);
    text-align: center;
    position: relative;
    top: 50px;
    text-decoration: none;
  }
  .profile-card h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    top: 50px;
    font-weight: 420px;
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    padding-bottom: 25px; */
  

  main :is(.recent, .ads) {
    position: sticky;
    top: 70px;
  }
}
